<p id="notice"><%= notice %></p>

<br/>
<% if @post %>
<div class="post">
  <div class="content">

    <h3><%= @post.title %>
<br /><span style="font-size:12px;color:#666;padding:3px 0;">about magesh on <a href="" rel="bookmark" title="Permanent Link to<%= @post.title %>"><%= @post.created_at.to_date %></a></span></h3>
    <% if current_user && !current_user.nil? %>
    <span class="edit"><a href="/admin/posts/<%= @post.id %>/edit">Edit</a></span>
    <% end %>
    <%= markdown_html(@post.content).html_safe %>
    <p><span style="font-size:10px;color:#666;padding:3px 0;">Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></span></p>
    <br />
  </div>
</div><!-- end post -->

<% unless @post.comments.empty? %>

<div id="comments" class="post">
  <h3 class="comments_headers">
    <%= (@post.comments.size == 0) ? "No comments - not surprising really, but why not break the trend..." : (@post.comments.size == 1) ? "1 comment - is that all?" : @post.comments.size + "comments - really? way cool!" %></h3>

</div>
<% @post.comments.each do |comment| %>
<div class="post">
  <div class="content">
    <%= comment.content %>
    <p style="font-size:12px;color:#666;padding:3px 0;">Lovingly written by <%= comment.user.first_name %> <%= time_ago_in_words(comment.created_at) %> ago</p>
  </div>

</div>
<% end %>
<% else %>
<br />
<div class="content">
  <p>No comments yet!</p>
</div>
<% end %>


<!-- Comment Form -->

<div class="postnoline">

  <div class="content">

    <h3 id="respond" class="comments_headers">Leave some comment love</h3>
    <form action="<?php echo get_option('siteurl'); ?>/wp-comments-post.php" method="post" id="comment_form">

		  <% if current_user && !current_user.nil? %>

		  <p class="unstyled">Logged in as <a href=""><%= current_user.first_name %></a>. <a href="" title="">Logout &raquo;</a></p>
                  <% end %>
		  <p><input class="text_input" type="text" name="author" id="author" value="<%= (current_user.nil?) ? "" : current_user.first_name %>" tabindex="1" />
                    <label for="author"><strong> Name</strong></label></p>
		  <p><input class="text_input" type="text" name="email" id="email" value="<%= (current_user.nil?) ? "" : current_user.email %>" tabindex="2" /><label for="email"><strong> Email</strong></label></p>
		  <p><input class="text_input" type="text" name="url" id="url" value="" tabindex="3" /><label for="url"><strong> Website</strong></label></p>
		  <!--<p><small><strong>XHTML:</strong> You can use these tags: <?php echo allowed_tags(); ?></small></p>-->

		  <p><textarea class="text_input text_area" name="comment" id="comment" cols="7" rows="7" tabindex="4"></textarea></p>

		   <p>
		    <input name="submit" class="form_submit" type="submit" id="submit" src="<?php bloginfo('template_url') ?>/images/submit_comment.gif" tabindex="5" value="Submit" />
		    <input type="hidden" name="comment_post_ID" value="<?php echo $id; ?>" />
		   </p>

    </form>

  </div>

</div>

<% else %>

<h2 class="page_header">Uh oh.</h2>
<div class="entry">
  <p>Sorry, no posts matched your criteria. Want to search instead?</p>
  <?php include (TEMPLATEPATH . '/searchform.php'); ?>
</div>

<% end %>

<div class="posttopline">
  <span class="previous"><?php previous_post_link('&larr; %link') ?></span>
  <span class="next"><?php next_post_link('%link &rarr;') ?></span>
</div>

<br/>
